body, html{
  width: 100%;
  height: 100%;
  margin: 0; 
  background-color: rgb(194, 137, 194);
  background-size: cover;
  background-attachment: fixed;
}
.container {
 width: 100%;
 height: 100%;
 background-color: rgb(194, 137, 194);
}
.toppane, #heading0, #heading4 {
  width: 100%;
  height: 10%;
  border-collapse: collapse;
  background-image: url("Plant.jpg");
  text-align: center;
  font-size: 90%;
  color: bisque;
}

@media (min-width: 600px) {
  #heading0 h1::before{
      content: "An introduction to saffron plant (Crocus Sativus)";
  }  
  #heading1 h1::before{
    content: "What is Crocus sativus?";
  }  
  #heading2 h1::before{
    content: "Uses of Saffron";
  } 
  #heading3 h1::before{
    content: "Production and Trade";
  } 
  #heading4 h1::before{
    content: "Saffron Diseases and disease management";
  }
}

@media (max-width: 599px) {
  #heading0 h1::before{
      content: "Introduction";
  }
  #heading1 h1::before{
    content: "Crocus sativus";
    font-style: italic;
  }
  #heading2 h1::before{
    content: "Uses";
  }
  #heading3 h1::before{
    content: "Production";
  }
  #heading4 h1::before{
    content: "Saffron Diseases";
  }
}

.bottom {
  width: 100%;
  height: 10%;
  border-collapse: collapse;
  text-align: center;
  background-color: bisque;
}

@media print {
  .bottom {
    display: none;
  }
}

.midsection {
  margin: 15px;
  padding: 15px;
}

#AnovaTest, th, td {
  margin-top: 25px;
  width: 100%;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-collapse: collapse;
}

caption {
  color: inherit !important;
  margin-bottom: 20px;
}

#container1 {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
  column-gap: 10px;
  padding: 50px;
}